extends /layout/layout

block body
    hello ㅋㅋ
    pageTitle = '테스트'
    mixin list
        ul
            li foo
            li bar
            li baz
    .content hello jade4j 이거 괜찮은데?
    .span
        label Name:
        input(type="text", ng-model="yourName", placeholder="Enter a name here")
        hr
        h1 Hello {{yourName}}
        +list
        p #{f.uri("/hello")}